name: "Test casbin"

on:
  push:
    branches:
      - master
      - main
    paths:
      - 'casbin/**'
  pull_request:
    paths:
      - 'casbin/**'

jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.25.5
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '${{ matrix.go-version }}'
      - name: Run Test
        working-directory: ./casbin
        run: go test -v -race ./...
