name: "Test Socket.io"

on:
  push:
    branches:
      - master
      - main
    paths:
      - "socketio/**"
  pull_request:
    paths:
      - "socketio/**"

jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.25.5
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "${{ matrix.go-version }}"
      - name: Run Test
        working-directory: ./socketio
        run: go test -v -race ./...
